# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
*.eggs/
*.log
*.pot
*.mo
*.env
*.venv
venv/
ENV/
env/
Pipfile.lock
poetry.lock

# Python debug and dump files
debug.log
error.log
*.cover
*.coverage
*.coveragerc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Django specific files
db.sqlite3
*.sqlite3
migrations/
*.log

# React/Node.js
node_modules/
build/
dist/
.npm/
*.cache
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
.vscode/jsconfig.json

# MacOS
.DS_Store

# IDE/Editor files
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.bak

# Logs and lock files
*.log
yarn.lock
package-lock.json
pnpm-lock.yaml

# Test Coverage
coverage/
*.lcov
*.lcov.*

# Static analysis tools
.pyre/
.mypy_cache/
pylint.log

# Ignore deployment or temporary files
*.tmp
*.temp
*.swp
consolidated_api/db.sqlite3
